attrs==19.3.0
Automat==20.2.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
et-xmlfile==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jdcal==1.4.1
lml==0.0.9
lxml==4.5.0
openpyxl==3.0.3
parsel==1.5.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
queuelib==1.5.0
requests==2.23.0
Scrapy==1.8.0
service-identity==18.1.0
six==1.14.0
texttable==1.6.2
Twisted==22.2.0
w3lib==1.21.0
wget==3.2
zope.interface==4.7.1
beautifulsoup4==4.8.2
scrapy-rotating-proxies==0.6.2

